.cryptoBlock {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.MuiCard-root {
    min-height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex !important;
    flex-direction: column;
    justify-content: space-evenly;
}

.table-grid {
    width: 100%;
    min-height: 90vh;
    display: flex;
    flex-direction: column;
}

.table-container {
    height: fit-content;
}

.botNav {
    margin: 3rem;
    display: flex;
    width: 100%;
    align-items: flex-end;
    flex-direction: column;
    align-self: flex-end;
}

.textFieldPage {
    display: flex !important;
}

.button {
    text-align: center !important;
}

.subtitle {
    margin: 1em 0;
    font-weight: 800;
}